<div class="uk-card uk-card-default">
  <div class="uk-card-media-top uk-text-center">
    <img src="{{ pet.image }}" alt="" height="250" width="250" class="uk-margin-small-top uk-border-circle">
  </div>
  <div class="uk-card-body">
    <h3 class="uk-card-title">{{ pet.name }}</h3>
    <p>{{ pet.description }}</p>
    <app-loading *ngIf="loading else btn_remove"></app-loading>
    <ng-template #btn_remove>
      <button class="uk-button uk-button-default uk-width-1-1" (click)="removePet()">
        <span class="uk-icon uk-margin-small-right" uk-icon="icon: trash"></span>
        Remover
      </button>
    </ng-template>
  </div>
</div>
